@model IEnumerable<com.NascimentoSoftware.BookStore.WebApp.Models.Livro>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAtualizacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataRegistro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataAtualizacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoriaId)
                </td>
                @if (SignInManager.IsSignedIn(User))
                {
                    <td>

                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                        <a id="btnComprar" class="btn btn-primary" asp-action="CarrinhoAdd" asp-route-id="@item.Id">Comprar</a>
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>





@section Scripts{
    <script>
        document.getElementById("btnComprar").addEventListener("click", showPopup);

        function showPopup() {
            window.alert("Produto adicionado ao carrinho");
        }

       
    </script>
}